@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Optional: override or extend MUI styles */
body {
  @apply bg-gray-100 text-gray-900;
}



